@model ApredizadoApp.Models.Edital

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Edital</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Numero)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Numero)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ano)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ano)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Vigencia)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Vigencia)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataPublicacao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataPublicacao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataValidade)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataValidade)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Objeto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Objeto)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Status)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumeroEdital)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumeroEdital)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EntidadeId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EntidadeId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
